    <div class="row">    
      <div class="col-md-1">
        <img src="img/unnamed.jpg" width="100" height="100"/>
      </div>
      <div class="col-md-9">
        <h1 align="center">Northern Virginia Nursing Institute</h1>
      </div>
      <!--<div class="col-md-8" >
       <img src="img/banner_728x90.gif" width="728" height="90" alt="Northern Virginia Nursing Institute"> </img>
      </div>-->
      <div class="col-md-2">
        <div class="text-justify">
          <h4>Address</h4>
          1234 Star Crossed Lane<br />
          Somewhere, VA 22222</div>
        <div class="text-justify">
          <h4>Telephone Number</h4>
          233-343-3433
        </div>
      </div>
    </div>
    <div class="row" style="margin: 20px 0;">
      <nav class="navbar navbar-default col-md-12" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </button>
        </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
          <div class="collapse navbar-collapse" id="schoolBar">
          <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#/schedule">Schedule</a></li>
          <li><a href="#/apply">Enroll Now</a></li>
          <li><a href="#/whychooseus">Why Choose Us</a></li>
          <li><a href="#">Coming Soon!</a></li>
          <li><a href="#/contact">Contact Us</a></li>
        </ul>
        </div>
        </div><!-- /.container-fluid -->
      </nav>
    </div>